html {
  height: 100%;
  width: 100%;
  background-color: #2E2E2E;
  color: #444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  height: 86vh;
  padding: 32px;
  margin: 34px 150px;
  border-radius: 40px;
  background-color: #111014;
}

.left-container{
  position: fixed;
  border-radius: 22px;
  width: 55%;
  height: 85%;
  margin: 0 5px 0 0;

}

.right-container{
  position: fixed;
  border-radius: 22px;
  right: 196px;
  width: 16%;
  height: 86%;
}

.nav-bar-left{
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-bar-right{
  height: 40px;
  position: relative;
  justify-content: flex-end;
  display: flex;
}

.bttn{
  display: flex;  
  top: 60px;
  left: 180px;
  position: fixed;
}

.circle-dropdown{
  left: 1%;
  top: -5px;
  width: 40px;
  height: 40px;
  margin: 0 20px 0 0;
  position: relative;
  border-radius: 50%;
  background-color: #232325;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-dropdown a, .search-bar a, .theme-toggle a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  width: 40px;
  height: 40px;
  color: #fff;
  position: relative;
  background: none;
}

h2{
font-size: 14px;
font-family: sans-serif;
margin: 10px 0px 30px 104px;
}


p{
  margin: 10px 0 30px 0;
}

.search-bar{
  top: -10px;
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 40px;
  margin: 0 0px 0 30px;
  background-color: #232325;
}

.theme-toggle{
  width: 85px;
  height: 38px;
  position: relative;
  display: flex;
  align-items: center;
  top: -10px;
  right: -10px;
  margin: 0 0px 0 20px;
  border-radius: 40px;
  background-color: #19191B;
  border: 1px solid #292929;
  transition: 0.5s;
}

.indicator{
  left: 45px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  background-color: #BBD7EB;
}

ion-icon {
  font-size: 25px;
  position: relative;
  top: 7px;
  left: 7px;
}

.profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 0 0 25px;
  position: relative;
  top: -10px;
  right: -10px;
  background-color: lightgoldenrodyellow;
}

.menu{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 24px;
}

.text{
  display: flex;
  position: relative;
  justify-content: space-between;
}

h3{
  font-family: sans-serif;
  font-weight: 200;
  margin: auto 0;
  padding: 8px 15px 8px 0px;
  font-size: 105%;
}

.menu-toggle{
  width: 190px;
  height: 34px;
  border-radius: 40px;
  margin: 0 0 0 20px;
  position: relative;
  background-color: #232325;
}

.weather{
  top: 32px;
  margin: 8px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected{
  width: 38%;
  height: 220px;
  position: relative;
  border-radius: 25px;
  background-color: #BBD7EB;
  overflow: hidden;
}

.selected-top{
  padding-top: 7px;
  height: 45px;
  background-color: #AECADE;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.selected-middle{
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 50px;
}

.days{
  position: relative;
  border-radius: 22px;
  padding: 10px 18px;
  width: 10%;
  height: 200px;
  margin: 0 0 0 12px;
  background-color: #1B1B1D;
}

hr{
  border-color: #1B1B1D;
}

.map-header{
  top: 24px;
  margin: 35px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewwide{
  width: 110px;
  height: 32px;
  margin: 0 0 0 20px;
  position: relative;
  justify-content: center;
  border-radius: 30px;
  background-color: #232325;
}

.map{
  position: relative;
  background-color: #1B1B1D;
  border-radius: 25px;
  padding: 0px 30px;
  height: 290px;
  overflow: hidden;
}

.map svg {
  width: 100%; 
  height: 100%; 
  color: white;
}

.rain{
  display: flex;
  position: relative;
  margin: 33px 0 0 0;
}

.cities{
  display: flex;
  position:relative;
  margin: 33px 0 0 0;
}

.graph{
  background-color: #1B1B1D;
  height: 200px;
  margin: 6px 0;
  padding: 10px 20px;
  border-radius: 25px;
}

.city-panel{
  background-color: #1B1B1D;
  height: 88px;
  margin: 10px 0;
  border-radius: 25px;
}


h1{
  text-align: center;
  margin: 20px 0 0 0;
  color: #CBCBD1;
}

h4{
  text-align: center;
  margin: 5px 0 12px 0;
  color: #CBCBD1;
}

h5{
  text-align: center;
  color: #CBCBD1;
  font-weight: 300;
  margin: 6px 0 0 0;
}

h6{
  padding: 0 0 0 25px;
  font-weight: 300;
}

.black{
  color: #444;
}

.bold{
  font-weight: bold;
}

.selected-temp{
  margin: 5px 0 12px 0;
}

.selected-info-text{
  margin: 0 0 5px 0;
}

.icon{
  width: 50px;
  height: 60px;
  background-color: #111014;
  border-radius: 30px;
  opacity: 0.6;
  margin: 20px 0 0 0;
}